/*styles go here*/

p{
color: 	#3D7878;
font-family: 'Josefin Slab', serif;
margin: 15px;
font-size: 110%;
letter-spacing: 1px;
}

h1{
  font-family: 'Julius Sans One', sans-serif;
  color: 	#3D7878;
  font-weight: bold;
}

h2{
  font-family: 'Julius Sans One', sans-serif;
  color: 	#3D7878;
}
body{
	background-color:	#D1E9E9;
}
article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}
/* #container {
width: 95%;
margin: 0;
}
#nav{
  list-style-type: none;
  padding: 0;
} */
@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }
    img{
      width: 100%;
    }
}

#nav a:link, #nav a:visited{
  display:block;
  color: #ffffff;
	background-color: #2F4F4F;
	font-weight: bold;
	display: block;
	text-decoration: none;
	text-align: center;
	font-family:'Dosis', sans-serif;
	padding:4px;
}

#nav a:hover, #nav a:active {
	background-color: #CFB53B;
}

.caption {
	color: #3D7878;
font-family: 'Josefin Slab', serif;
	font-size: 0.8em;
	margin-top: 0;
	text-align: right;
}
/* #nav li{
	margin:auto;
	padding: 0;
} */

.navigation{
  list-style: none;
  margin: 0;
  background:#2F4F4F;
  padding: 0;
  display: flex;
  flex-flow: column;
}
.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;

}

img{
  width: 100%;
}
.wrapper{
  display: flex;
  flex-flow:row wrap;
}

/* When greater than 800px wide */
@media (min-width:800px) {

  .navigation {
      flex-flow:row;
      justify-content: flex-end;
  }

  .navigation a {
      border: none;
  }

  .navigation a:hover {
    background: #D3B939;
  }


article {
display: flex;
flex-flow: row;
flex-wrap: wrap;
}

.image {
width: auto;
margin-right: 10px;
}

.story {
width: 45%;
}

.first {
margin-top: 0;
}
}
@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "a c c";
  }
.image
{
width:800px;
}

  .section1 {
    grid-area: a;
  }

  .image {
    grid-area: b;
  }

  .section2 {
    grid-area: c;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}
